<!DOCTYPE html>
<html>
<head>
	<title>Usuarios</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    	<style type="text/css">
		td,th{
			text-align: center;
		}
		#texto_total{
			text-align: right;
			font-weight: bold;
		}
		.item{
			text-align: left;
		}
	</style>
</head>

<body>
		<div class="container">
			<table>
				<tr>
					<td>Id:</td>
					<td><input type="text" id="id"></td>
				</tr>
				<tr>
					<td>nombre:</td>
					<td><input type="text" id="nombre"></td>
				</tr>
				<tr>
					<td>username:</td>
					<td><input type="text" id="username"></td>
				</tr>
				<tr>
					<td>pass:</td>
					<td><input type="text" id="pass"></td>
				</tr>
			</table>
			<br><br><br>
			<input type="button" id="agregar" value="Agregar">
			<input type="button" id="modificar" value="Modificar">
			<input type="button" id="eliminar" value="Eliminar">
			<br><br><br>
			
		</div>
</body>
</html>